.footer__menu-link {
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  transition: 0.4s ease-out;

}

.footer__menu-link:hover {
  opacity: 0.8;
  transition: 0.4s ease-out;
}

@media screen and (max-width: 767px) {
  .footer__menu-link {
  font-size: 24px;
  line-height: 24px;
  }
}
