.header__logo {
    max-width: 176px;
    max-height: 52px;
    transition: 0.4s ease-out;
}

.header__logo:hover {
  opacity: 0.8;
  transition: 0.4s ease-out;
}

@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }
}
