@import url(../header/__link-item/header__link-item.css);
@import url(../header/__link/header__link.css);
@import url(./__link-item/_active/header__link-item_active.css);
@import url(../header/__logo/header__logo.css);

.header {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-top: 28px;
    max-width: 1184px;
    max-height: 52px;
    margin: 0 auto;
}

@media screen {

}
