.place__about {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: start;
}

@media screen and (max-width: 767px) {
  .place__about {
    grid-column: 1;
    grid-row: 2 / 2;
    padding:0 16px;
  }
}
