.place__img {
  max-width: 460px;
  grid-column: 1 / 2;
}

@media screen and (max-width: 1279px) {
  .place__img {
    max-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__img {
    max-width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .place__img {
    grid-column: 1;
    grid-row: 3 / 3;
    width: 100%;
    margin: 0 auto;
  }
}
