.journey__picture {
  max-width: 984px;
  max-height: 615px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .journey__picture{
    max-width: 928px;
    max-height: 580px;
  }
}

@media screen and (max-width: 1023px) {
  .journey__picture {
    max-width: 768px;
    max-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .journey__picture {
    max-width: 320px;
    max-height: 200px;
  }

}
